	#video-area {
					z-index: 0;
				}
				
				#text-box-area {
					position: absolute;
					top: 0px;
					left: 0px;
					z-index: 3;
				}
				
				#text-playback {
					display: none;
					resize: none;
					position: relative;
					height: 100%;
					width: 100%;
					color: black;
					font: 22px/30px sans-serif;
				}
				
				#image-area {
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					z-index: 1;
				}
                
                #pdf-area {
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					z-index: 4;
				}
                 #overlaid-video-area {
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					z-index: 2;
				}

div#wrapper {
    position: relative;
}
div#left {
    position: absolute;
    float: left;
}
div#right {
    display: inline-block;
}
button#delete{
    display: none;
}
button#login {
    height: 100%;
    width: 100%;
    vertical-align: top;
}